.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;  
    color: #566787;
    background: #f5f5f5;
    max-width: 100%;
}

/* Cabezera de la tabla y titulo */
.table-size {
    background: #fff;
    padding: 20px 25px;
    margin: 2.1% 6.5% 0% 6.8%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title span {
    font-weight: 200;
}

/* Boton Add Employee */
#add-employee {
    position: absolute;
    top: 45px;
    right: 115px;
    width: 200px;
    height: 20px;
}
#add-employee a {
    display: flex;
    width: 150px;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 13px;
    background-color: #5cb85c;
    border-color: #3c413c;
    color: #fff;
}

#add-employee span {
    font-size: 13px;
    outline: none;
    align-self: center;
    padding: 0.5px;
}

/* Input filter */
.filter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    padding-right: 30px;
}
.filter input {
    width: 95%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 12px;
    margin-right: 290px;
    margin-top: 20px;
    line-height: 5;
}

/* Tabla de users */
.table-container{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
 }

/* Formato de tabla con css */
#data-base table td,
#data-base table th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid rgb(198, 198, 211);
}   

#data-base tr:nth-child(even) {
    background-color: #f3f1f1;
    }

#data-base tr:hover {
    background-color: rgb(219, 215, 215);
}

#data-base table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    min-width: 700px;
    }